h1{
  font-family: 'Philosopher', sans-serif;
  color: #333	;
  background-color: #D3D3D3;
}

body{
  font-family: 'Muli', sans-serif;
  text-align: center;

}

.container{
  overflow:auto;
  border-radius: 2px;
  background-color: black;
  opacity: 0.8;
}

#weatherInfo{
  color: ivory;
}

p[title="Click to convert to imperial/metric"]{
  cursor: pointer;
}

#weatherImage{

  width: 100px;
}
